h1{
    text-align: center;
    margin-top: 3%;
}
p{
    text-align: center;
    margin-top: 2%;
    font-size: 25px;
}
.texto {
    text-align: center;
    font-size: 25px;
    color: deeppink;
}