h1{
    text-align: center;
    margin-top: 3%;
    font-size: 40px;
}
p{
    text-align: center;
    margin-top: 2%;
    font-size: 25px;
}
button{
    width: 100px;
    height: 40px;
    margin-left: 47.5%;
    background-color: rgb(201, 6, 120);
    border-radius: 7px;
    color:aliceblue;
}