h1{
    text-align: center;
    margin-top: 3%;
}
input{
    margin-left: 45%;
    width: 175px;
    height:30px;
    border-radius: 4px;
}
.botao{
    width: 100px;
    height: 40px;
    margin-left: 47.5%;
    background-color: powderblue;
    border-radius: 7px;
}