input{
    max-width: 100px;
    border-radius: 4px;
}
button{
    width: 60px;
    background-color: rgb(250, 142, 250);
    font-size: 15px;
    border-radius: 5px;
    color: rgb(2, 0, 2);
    margin: auto;
}
